.Button {
<<<<<<< HEAD
    background-color: coral;
=======
    background-color: rgb(255, 174, 0);
>>>>>>> new_nav_integration
    box-shadow: 1px 1px 1px grey;
    border-radius: 6rem;
    text-align: center;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    width: 10rem;
    padding: 12px;
    margin: 10px;
    font-weight: 550;
}

.Button:first-of-type {
    margin-left: 2rem;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
