.avatar {
    &-group__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 512px;
        margin-right: auto;
        margin-left: auto;
    }

    &-image {
        height: 160px;
        width: 160px;
        border-radius: 32px;
        background-size: contain;
        background-position: center;

        &__parent {
            display: flex;
            flex-direction: column;
        }
    }

}
