body {
    margin: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}

.headerbackground {
    height: 100px;
    background-color: #333;
    width: 80vw;
    margin-bottom: 15px;
}

.button {
    background-color: transparent;
    border: transparent;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertitle {
    font-size: 30px;
    color: whitesmoke;
}



