.menu-customer {
    display: flex;
    flex-direction: column;
    min-width: 256px;
    //height: 100%;
    text-align: center;
    color: white;
    background-color: rgb(31, 32, 32);
    border-right: 1px dashed silver;

    &__top {
        display: flex;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        // min-width: 256px;
        max-height: 256px;
        // // // margin-top: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        // min-height: 128px;
        // border-bottom: 1px dashed coral;
        background-image: url('/image/pizza_logo.svg');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;

        // border-bottom: 1px dashed coral;
    }

    &__bottom {
        display: flex;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        min-width: 256px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;

    }

    &__item {
        padding: 1rem;
        margin-top: 0.25rem;
        //background-color: rgb(52, 52, 63);
        color: white;
        //border-bottom: 1px dashed coral;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px black;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        font-family: 'Special Elite', cursive;

        // &:nth-child(1) {
        //     margin-top: 2rem;
        // }

        &--active {
            background-color: rgba(0, 0, 0, 0.5);
            border-bottom: 3px solid #eeba00;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    &__project-name {
        color: white;
        font-size: 2rem;
        font-family: 'Pacifico', cursive;
        text-shadow: 0 0 3px black;
    }

    &__logo {
        width: 96px;
        padding: 1rem;
        height: auto;
    }
}
