.menu-customer {
    display: flex;
    flex-direction: column;
    min-width: 256px;
    //height: 100%;
    text-align: center;
    color: white;
    background-color: rgb(31, 32, 32);
    border-right: 1px dashed silver;

    &__top {
        display: flex;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        max-height: 256px;
        padding-top: 4rem;
        padding-bottom: 4rem;

        @media screen and (max-width: $break-small) {
            padding-top: 0;
            padding-bottom: 0;
        }

        @media screen and (min-width: $break-small) and (max-width: $break-medium) {
            padding-top: 0;
            padding-bottom: 0;
        }

        background-image: url('/image/pizza_logo.svg');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
    }

    &__bottom {
        display: flex;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        min-width: 256px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;

    }

    &__item {
        margin-top: 0.25rem;
        color: white;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px black;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        font-family: 'Special Elite',
            cursive;

        &--active {
            background-color: rgba(0, 0, 0, 0.5);
            border-bottom: 3px solid $theme-accent;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    &__project-name {
        color: white;
        font-size: 2rem;
        font-family: 'Pacifico', cursive;
        text-shadow: 0 0 3px black;
    }

    &__logo {
        width: 96px;
        padding: 1rem;
        height: auto;
    }

    &__category-selector {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $theme-accent;

        select {
            font-size: 1.25rem;
            margin: 0.5rem 0 0.5rem 0;
            width: 100%;
            border-radius: 0.5rem;
        }
    }
}
