.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 2px;
    width: 100%;
}

.BuildControl:nth-child(2n) {
    background-color: #333;
    padding: .4rem 1.5rem;
}

.BuildControl-MoreOrLess {
    display: flex;
    flex-direction: row;
}

.BuildControl button {
    display: block;
    padding: 5px;
    /* margin: 0 5px; */
    width: 48px;
    height: 48px;
    font: inherit;
    border: 1px dashed white;
    border-radius: 6rem;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px dashed white;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-family: 'Special Elite', cursive;
    /* width: 80px; */
}

.BuildControl .Less {
    background-color: #D39952;
    color: white;
}

.BuildControl .More {
    background-color: #EEBA00;
    color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
    background-color: #DAA972;
    color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
    background-color: coral;
    color: white;
}
